In [66]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [100]:
df = pd.read_csv('~/Desktop/COVID19/data/200913COVID19MEXICO.csv', encoding = "ISO-8859-1")
df.head()

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2020-09-13,1e6e4c,2,4,25,2,25,25,11,1,...,2,2,2,2,1,1,99,MÃ©xico,99,97
1,2020-09-13,10d9be,2,4,2,2,10,2,4,2,...,2,2,2,2,99,1,99,MÃ©xico,99,2
2,2020-09-13,11a9b3,2,4,9,2,9,15,58,1,...,2,2,2,2,1,1,99,MÃ©xico,99,97
3,2020-09-13,077c96,2,4,9,2,16,9,5,2,...,2,2,2,2,1,1,99,MÃ©xico,99,1
4,2020-09-13,1719d0,2,4,30,1,30,30,193,1,...,2,2,2,2,99,1,99,MÃ©xico,99,97

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1516588 entries, 0 to 1516587
Data columns (total 35 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   FECHA_ACTUALIZACION  1516588 non-null  object
 1   ID_REGISTRO          1516588 non-null  object
 2   ORIGEN               1516588 non-null  int64
 3   SECTOR               1516588 non-null  int64
 4   ENTIDAD_UM           1516588 non-null  int64
 5   SEXO                 1516588 non-null  int64
 6   ENTIDAD_NAC          1516588 non-null  int64
 7   ENTIDAD_RES          1516588 non-null  int64
 8   MUNICIPIO_RES        1516588 non-null  int64
 9   TIPO_PACIENTE        1516588 non-null  int64
 10  FECHA_INGRESO        1516588 non-null  object
 11  FECHA_SINTOMAS       1516588 non-null  object
 12  FECHA_DEF            1516588 non-null  object
 13  INTUBADO             1516588 non-null  int64
 14  NEUMONIA             1516588 non-null  int64
 15  EDAD                 1516588 non-null  int64
 16  NACIONALIDAD         1516588 non-null  int64
 17  EMBARAZO             1516588 non-null  int64
 18  HABLA_LENGUA_INDIG   1516588 non-null  int64
 19  DIABETES             1516588 non-null  int64
 20  EPOC                 1516588 non-null  int64
 21  ASMA                 1516588 non-null  int64
 22  INMUSUPR             1516588 non-null  int64
 23  HIPERTENSION         1516588 non-null  int64
 24  OTRA_COM             1516588 non-null  int64
 25  CARDIOVASCULAR       1516588 non-null  int64
 26  OBESIDAD             1516588 non-null  int64
 27  RENAL_CRONICA        1516588 non-null  int64
 28  TABAQUISMO           1516588 non-null  int64
 29  OTRO_CASO            1516588 non-null  int64
 30  RESULTADO            1516588 non-null  int64
 31  MIGRANTE             1516588 non-null  int64
 32  PAIS_NACIONALIDAD    1516588 non-null  object
 33  PAIS_ORIGEN          1516588 non-null  object
 34  UCI                  1516588 non-null  int64
dtypes: int64(28), object(7)
memory usage: 405.0+ MB

In [102]:
df['RESULTADO'].unique()
# Out: array([1, 2, 3])

# Filtrar por casos positivos.
# 1 = CASOS POSITIVOS
df = df[df['RESULTADO'] == 1]
df.drop(['RESULTADO'], axis = 1, inplace = True)

drop_cols = ['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'SECTOR', 'ENTIDAD_UM', 'INTUBADO', 'NEUMONIA', 'UCI',
             'SECTOR', 'ORIGEN', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'NACIONALIDAD',
             'HABLA_LENGUA_INDIG', 'OTRO_CASO', 'MIGRANTE', 'PAIS_NACIONALIDAD', 'PAIS_ORIGEN', 
            'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'EMBARAZO']
df.drop(drop_cols, axis = 1, inplace = True)

In [103]:
df.head()

,SEXO,TIPO_PACIENTE,EDAD,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO
0,2,1,31,2,2,2,2,1,2,2,2,2,2
1,2,2,43,2,2,2,2,2,2,2,2,2,2
2,2,1,32,2,2,2,2,1,2,2,2,2,2
3,2,2,66,2,2,2,2,2,2,2,2,2,2
4,1,1,71,2,2,2,2,2,2,2,2,2,2

In [104]:
df.dtypes

SEXO              int64
TIPO_PACIENTE     int64
EDAD              int64
DIABETES          int64
EPOC              int64
ASMA              int64
INMUSUPR          int64
HIPERTENSION      int64
OTRA_COM          int64
CARDIOVASCULAR    int64
OBESIDAD          int64
RENAL_CRONICA     int64
TABAQUISMO        int64
dtype: object

In [105]:
## VARIABLE RESPUESTA = TIPO_PACIENTE
## - 1: Ambulatorio
## - 2: Hospitalizado

n_amb, n_hos = df['TIPO_PACIENTE'].value_counts()
print("Total de casos positivos: {:,}".format(len(df)))
print("Número de casos ambulatorios: {:,}".format(n_amb))
print("Número de casos hospitalizados: {:,}".format(n_hos))
print("El {:.1f}% de los casos positivos son hospitalizados.".format(100*n_hos/(n_amb+n_hos)))

Total de casos positivos: 668,381
Número de casos ambulatorios: 503,998
Número de casos hospitalizados: 164,383
El 24.6% de los casos positivos son hospitalizados.

In [106]:
# CORRELACIÓN DE TIPO_PACIENTE CON LAS DEMÁS COLUMNAS
print(df.corr()['TIPO_PACIENTE'])

SEXO              0.099431
TIPO_PACIENTE     1.000000
EDAD              0.400266
DIABETES         -0.003937
EPOC              0.009478
ASMA              0.012098
INMUSUPR          0.012380
HIPERTENSION     -0.005805
OTRA_COM          0.030915
CARDIOVASCULAR    0.012119
OBESIDAD          0.009807
RENAL_CRONICA     0.009789
TABAQUISMO        0.012712
Name: TIPO_PACIENTE, dtype: float64

In [107]:
## VALORES ÚNICOS DE CADA COLUMNA
## Al parecer 98 y 97 son nulls
for col in df.columns:
    print(col)
    print("nunique:", df[col].nunique())
    print("values:\n",df[col].unique())
    print("")

SEXO
nunique: 2
values:
 [2 1]

TIPO_PACIENTE
nunique: 2
values:
 [1 2]

EDAD
nunique: 114
values:
 [ 31  43  32  66  71  36  60  30  87  42  59  33  34  44  38  61  58  45
  54  47  56  50  35  39  37  63  53  40  51  52  28  80  49  72  26  48
  57  27  74  29  75  62  23  78  24  64  19  41  46  70  55  25  22  69
   1  79  68  82  65  92  21  88  67  73  90   8  83  77   2  89  76  15
  10  13  20  11  14  85  84  86  94  18  17   4  81  12   0   3  97  98
  16  95   6   9  93   7   5  96  91 104 100  99 101 102 103 106 105 116
 112 107 109 114 118 108]

DIABETES
nunique: 3
values:
 [ 2  1 98]

EPOC
nunique: 3
values:
 [ 2  1 98]

ASMA
nunique: 3
values:
 [ 2  1 98]

INMUSUPR
nunique: 3
values:
 [ 2  1 98]

HIPERTENSION
nunique: 3
values:
 [ 1  2 98]

OTRA_COM
nunique: 3
values:
 [ 2  1 98]

CARDIOVASCULAR
nunique: 3
values:
 [ 2  1 98]

OBESIDAD
nunique: 3
values:
 [ 2  1 98]

RENAL_CRONICA
nunique: 3
values:
 [ 2  1 98]

TABAQUISMO
nunique: 3
values:
 [ 2  1 98]

In [124]:
## Cambiamos todos los 98 a ceros excepto en la columna 'EDAD'.
cols = list(df.columns)
cols.remove('EDAD')
for col in cols:
    df[col] = df[col].replace(98, 0)

## Verificamos que ya no haya 98 en las columnas que no sean 'EDAD'.
for col in df.columns:
    print(col)
    print("nunique:", df[col].nunique())
    print("values:\n",df[col].unique())
    print("")

SEXO
nunique: 2
values:
 [2 1]

TIPO_PACIENTE
nunique: 2
values:
 [1 2]

EDAD
nunique: 114
values:
 [ 31  43  32  66  71  36  60  30  87  42  59  33  34  44  38  61  58  45
  54  47  56  50  35  39  37  63  53  40  51  52  28  80  49  72  26  48
  57  27  74  29  75  62  23  78  24  64  19  41  46  70  55  25  22  69
   1  79  68  82  65  92  21  88  67  73  90   8  83  77   2  89  76  15
  10  13  20  11  14  85  84  86  94  18  17   4  81  12   0   3  97  98
  16  95   6   9  93   7   5  96  91 104 100  99 101 102 103 106 105 116
 112 107 109 114 118 108]

DIABETES
nunique: 3
values:
 [2 1 0]

EPOC
nunique: 3
values:
 [2 1 0]

ASMA
nunique: 3
values:
 [2 1 0]

INMUSUPR
nunique: 3
values:
 [2 1 0]

HIPERTENSION
nunique: 3
values:
 [1 2 0]

OTRA_COM
nunique: 3
values:
 [2 1 0]

CARDIOVASCULAR
nunique: 3
values:
 [2 1 0]

OBESIDAD
nunique: 3
values:
 [2 1 0]

RENAL_CRONICA
nunique: 3
values:
 [2 1 0]

TABAQUISMO
nunique: 3
values:
 [2 1 0]

In [126]:
pd.get_dummies(df)

,SEXO,TIPO_PACIENTE,EDAD,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO
0,2,1,31,2,2,2,2,1,2,2,2,2,2
1,2,2,43,2,2,2,2,2,2,2,2,2,2
2,2,1,32,2,2,2,2,1,2,2,2,2,2
3,2,2,66,2,2,2,2,2,2,2,2,2,2
4,1,1,71,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1013230,1,1,64,2,2,2,2,1,2,2,2,2,2
1013231,1,1,30,2,2,2,2,2,2,2,2,2,2
1013232,2,1,23,2,2,2,2,2,2,2,2,2,1
1013233,2,2,36,2,2,2,2,2,2,2,2,2,2
1013234,1,1,57,2,2,2,2,2,2,2,2,2,2